[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
pandocfilters = "*"
sphinx-rtd-theme = "*"
myst-parser = "*"
furo = "*"
sphinx-last-updated-by-git = "*"

[dev-packages]
